.Reviews {
   min-height: 748px;
   display: flex;
   align-items: center;
}

.Reviews_title {
   font-weight: 500;
   font-size: 36px;
   line-height: 42px;
   text-transform: uppercase;
   margin-bottom: 81px;
   margin-top: 0;

   color: #292929;
}

.reviews_cards {
   display: flex;
}
.reviews_card {
   display: flex;
   align-items: center;
   margin-right: 85px;
}

.reviews_card-icon {
   width: 206px;
   height: 207px;
}

.reviews_card-inner {
   margin-left: 35px;
   width: 400px;
}
.reviews_card-title {
   font-weight: 500;
   font-size: 24px;
   line-height: 28px;
   margin-top: 30px;
   margin-bottom: 24px;

   color: #000000;
}
.reviews_card-content {
   font-style: italic;
   font-weight: 300;
   font-size: 18px;
   line-height: 21px;
   margin: 0;

   color: #928f94;
   position: relative;
}

.reviews_card-content::before {
   content: '“';
   position: absolute;
   font-weight: 500;
   font-size: 36px;
   line-height: 42px;

   color: #928f94;

   left: -18px;
   top: -8px;
}

.reviews_card-content::after {
   content: '”';
   position: absolute;
   font-weight: 500;
   font-size: 36px;
   line-height: 42px;
   padding-top: 6px;
   padding-left: 3px;

   color: #928f94;
}

.reviews_slider {
   margin-top: 137px;
   display: flex;
   justify-content: center;
}
.reviews_slider-button {
   background: #e5e5e5;
   border-radius: 50%;
   height: 19px;
   width: 19px;
}
.reviews_slider-button:nth-child(n + 2) {
   margin-left: 11px;
}
.reviews_slider-button-active {
   background: #c4c4c4;
}

.reviews_slider-button:hover {
   background: #c4c4c4;
}
