.search-form {
   background-color: rgba(41, 41, 41, 0.8);
   position: absolute;
   z-index: 2;
   bottom: 0;
}

.search-form_wrapper {
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: start;
}

.search-form_title {
   font-size: 30px;
   font-weight: 300;
   line-height: 35px;
   color: #ffffff;
   margin: 0;
}

.search-form_fieldset {
   width: 685px;
}
.orderForm-fields {
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-top: 28px;
   margin-bottom: 47px;
}

.search-form_controls {
   width: 685px;
   margin-top: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.search-form_field {
   box-sizing: border-box;
   width: 325px;
   height: 60px;

   border: 0;
   border-radius: 3px;
   padding-left: 21px;

   background-repeat: no-repeat;
   background-position: right 15px center;

   font-size: 18px;
   line-height: 21px;
   text-transform: capitalize;

   font-weight: 400;

   color: #292929;
}

.search-form_field--route {
   background-image: url('../../../img/form/route-icon.svg');
}

.search-form_field--date {
   background-image: url('../../../img/form/date-icon.svg');
}

.search-form_field::placeholder {
   color: #e5e5e5;
}

.search-form_route-container {
   position: relative;
}

.autocomplete-list {
   position: absolute;
   z-index: 3;
   top: 62px;
   right: 0;
   left: 0;

   padding: 19px 21px 11px 21px;
   border-radius: 3px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

   background-color: #f5f4f6;
}

.autocomplete-item {
   font-size: 18px;
   line-height: 21px;
   font-variant: small-caps;
   font-weight: 400;
   font-variant: small-caps;
   cursor: pointer;
   color: #292929;
}

.search-form_swap {
   width: 24px;
   height: 24px;
   border: 0;
   background-image: url('../../../img/form/swap.svg');
   background-color: transparent;
   background-repeat: no-repeat;
   background-size: 24px;
}

.search-form_buttons {
   width: 100%;
   display: flex;
   justify-content: flex-end;
}

.search-form_button {
   width: 325px;
   height: 60px;
   border: 0;
   box-sizing: border-box;
   background-color: #ffa800;
   border-radius: 5px;

   text-transform: uppercase;
   color: #292929;
   font-weight: 600;
   font-style: normal;
   font-size: 24px;
}

.homeForm-buttons {
   margin-top: 92px;
}

.search-form_button:hover {
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-form_button:active {
   border: 1px solid #ffa800;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   background-color: transparent;
   color: #ffa800;
}

.react-datepicker-wrapper {
   width: 325px;
}

.react-datepicker__input-container {
   width: 100%;
}

.homeForm-wrapper {
   display: flex;
   flex-direction: column;
}
.homeForm_fieldset {
   margin-top: 61px;
}
.homeForm_fieldset:first-child {
   margin: 0;
}

.react-datepicker {
   width: 325px;
   /* font-size: 30px; */
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
}
.react-datepicker__month-container {
   width: 325px;
}
.react-datepicker__current-month {
   font-size: 25px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   margin: 8px;
}

.react-datepicker__header {
   background-color: white;
}
.react-datepicker__day-names {
   display: none;
}
.jd {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;

   color: #928f94;
}

.react-datepicker__navigation {
   margin-top: 14px;
}

.react-datepicker__day {
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   margin-right: 4px;
   margin-left: 4px;

   padding-right: 4px;
   padding-left: 4px;
}

.react-datepicker__day--outside-month {
   color: #928f94;
}

.react-datepicker__day--weekend {
   font-weight: 600;
}

.react-datepicker__tab-loop {
   position: absolute;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range,
.react-datepicker__day--keyboard-selected {
   background: rgba(255, 168, 0, 0.31);
   border: 2px solid #ffa800;
   border-radius: 5px;
   color: #292929;
}
.react-datepicker__day--today {
   font-weight: 600;
   color: #292929;
}

.react-datepicker__day--in-selecting-range {
   background: rgba(255, 168, 0, 0.31);
   border-radius: 5px;
   color: #292929;
}
