.parameters {
   background: #3e3c41;

   margin-bottom: 95px;
   padding: 43px 38px 0 30px;
}

.title {
   font-weight: 400;
   font-size: 30px;
   line-height: 35px;
   color: #ffffff;
}

.dateFilter_fieldset {
   margin-bottom: 33px;
   position: relative;
}

.dateFilter_fieldset::after {
   content: '';
   position: absolute;
   width: 364px;
   height: 0px;
   border: 1px solid #e5e5e5;
   right: -38px;
   bottom: -33px;
}

.dateFilter_control {
   margin-bottom: 26px;
}
.dateFilter_title {
   font-weight: 400;
   font-size: 30px;
   line-height: 35px;
   color: #ffffff;
}

.dateFilter_field {
   display: block;
   box-sizing: border-box;
   width: 295px;
   height: 43px;

   border: 0;
   border-radius: 3px;
   padding-left: 21px;

   background-repeat: no-repeat;
   background-position: right 15px center;

   font-size: 18px;
   line-height: 21px;
   text-transform: capitalize;

   font-weight: 400;

   color: #292929;
   margin-top: 13px;
}

.dateFilter_field::placeholder {
   color: #e5e5e5;
}
.dateFilter_field--date {
   background-image: url('../../../img/form/date-icon-mini.svg');
}

/* optionsFilter */

.optionsFilter-list {
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;

   color: #ffffff;
}
.optionsFilter-list {
   padding-left: 36px;
   position: relative;
}

.optionsFilter-list::after {
   content: '';
   position: absolute;
   width: 364px;
   height: 0px;
   border: 1px solid #e5e5e5;
   right: -38px;
   bottom: 0px;
}

.optionsFilter-item {
   display: flex;
   align-items: center;
}
.optionsFilter-icon {
   display: flex;
   align-items: center;
   width: 58px;
}

.optionsFilter-title {
   margin-top: 17px;
   margin-bottom: 17px;
}
.optionsFilter-item:first-child {
   padding-top: 12px;
}
.optionsFilter-item:last-child {
   padding-bottom: 23px;
}

.optionsFilter-form {
   display: flex;
   align-items: center;
   margin-left: auto;
}
.optionsFilter-checkbox {
   height: 0;
   width: 0;
   visibility: hidden;
}

.optionsFilter-switch-label {
   display: flex;
   align-items: center;
   justify-content: space-between;
   cursor: pointer;
   width: 72px;
   height: 19px;
   border-radius: 10px;
   background: #ffffff;
   position: relative;
   transition: background-color 0.2s;
}
.isOn {
   background: #fcdc9d;
}

.optionsFilter-switch-label .optionsFilter-switch-button {
   content: '';
   position: absolute;
   top: -5px;
   left: 0px;
   width: 28px;
   height: 28px;
   border-radius: 45px;
   transition: 0.2s;
   background: #c4c4c4;
   box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.optionsFilter-checkbox:checked
   + .optionsFilter-switch-label
   .optionsFilter-switch-button {
   left: calc(100% - 0px);
   transform: translateX(-100%);
   background: #ffa800;
}

/* PriceFilter */

.priceFilter {
   padding-bottom: 62px;
   position: relative;
}

.priceFilter::after {
   content: '';
   position: absolute;
   width: 364px;
   height: 0px;
   border: 1px solid #e5e5e5;
   right: -38px;
   bottom: 0px;
}

.priceFilter_title {
   font-weight: 400;
   font-size: 30px;
   line-height: 35px;

   color: #ffffff;
   margin-bottom: 12px;
   margin-top: 37px;
}

.input-range {
   /* padding-left: 10px; */
}

.priceFilter_label-wrapper {
   display: flex;
   justify-content: space-between;
}
.priceFilter_label {
   font-size: 18px;
   line-height: 21px;
   font-weight: 400;
   color: #ffffff;
   margin-bottom: 10px;
   margin-top: 0;
}
.priceFilter .input-range__label--min,
.priceFilter .input-range__label--max {
   top: 33px;
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #e5e5e5;
}

.priceFilter .input-range__label--min {
   left: 20px;
   display: none;
}

.priceFilter .input-range__label--max {
   right: 20px;
   top: 25px;
}

.priceFilter .input-range__label--value {
   top: 8px;
}
.input-range__label-container {
   right: 50%;
}

.priceFilter .input-range__label {
   font-family: 'Roboto';
   font-size: 16px;
   font-weight: 400;
   line-height: 19px;
   color: #e5e5e5;
}

.input-range__track {
   height: 19px;

   border: 1px solid #c4c4c4;
   box-sizing: border-box;
   border-radius: 8px;
   top: 0;
}
.input-range__track--background {
   background: inherit;
}

.input-range__track--active {
   background: #ffa800;
}

.input-range__slider {
   width: 24px;
   height: 24px;

   background: #ffffff;
   border: none;
   top: 0;
   margin-top: -22px;
   margin-left: -12px;
}

/* timeFilter */
.timeFilter {
   position: relative;
   padding-bottom: 10px;
}

.timeFilter::after {
   content: '';
   position: absolute;
   width: 364px;
   height: 0px;
   border: 1px solid #e5e5e5;
   right: -38px;
   bottom: 0px;
}

.timeFilter_form {
   padding-bottom: 68px;
}

.timeFilter_title {
   margin-top: 0;
   margin-bottom: 21px;
   font-size: 24px;
   line-height: 28px;
   color: #e5e5e5;
}

.timeFilter_header-title {
   position: relative;
   padding-left: 40px;
   margin-top: 25px;
   margin-bottom: 22px;
}

.title-goThere::before {
   position: absolute;
   content: '';
   background-image: url(../../../img/sideBar/from.svg);
   background-repeat: no-repeat;
   width: 32px;
   height: 26px;
   bottom: 4px;
   left: 0;
}

.title-goBack::before {
   position: absolute;
   content: '';

   background-image: url(../../../img/sideBar/to.svg);
   background-repeat: no-repeat;
   width: 32px;
   height: 26px;
   bottom: 4px;
   left: 0;
}

.timeFilter_title:nth-child(n + 2) {
   margin-top: 84px;
}

.title-right {
   text-align: right;
}

.timeFilter_range {
   padding-left: 10px;
}

.timeFilter .input-range__label--max .input-range__label-container {
   left: 0;
}

.timeFilter .input-range__label--min,
.timeFilter .input-range__label--max {
   top: 25px;
}

.timeFilter .input-range__label--min {
   display: none;
   left: 1px;
}

.timeFilter .input-range__label--max {
   right: -18px;
}

.timeFilter .input-range__label--value {
   top: 17px;
}
.timeFilter .input-range__label {
   font-family: 'Roboto';
   font-size: 16px;
   font-weight: 400;
   line-height: 19px;
   color: #e5e5e5;
}

.timeFilter .input-range__track {
   height: 10px;
   border: 1px solid #c4c4c4;
   border-radius: 8px;

   background: transparent;
}

.timeFilter .input-range__track--active {
   border-color: #ffa800;
   background: #ffa800;
}

.timeFilter .input-range__slider {
   width: 18px;
   height: 18px;
   margin-top: -16px;
   margin-left: -0.7rem;
   border: 1px solid #ffffff;
   background: #ffffff;
}

.timeFilter_header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.hidden {
   display: none;
   position: relative;
   align-items: center;
}

.timeFilter_button {
   width: 20px;
   height: 20px;
   padding: 0;

   right: 0;

   border: 2px solid #c4c4c4;
   box-sizing: border-box;
   border-radius: 5px;
   background-color: inherit;
   position: relative;
}

.active-button::before {
   content: '';
   background: inherit;
   background-image: url(../../../img/sideBar/plus.svg);
   position: absolute;
   width: 14px;
   height: 14px;
   top: 1px;
   right: 1px;
   background-repeat: no-repeat;
}

.active-button:hover {
   border: 2px solid #ffa800;
}
.inactive-button:hover {
   border: 2px solid #ffa800;
}

.inactive-button::before {
   content: '';
   background: inherit;
   background-image: url(../../../img/sideBar/minus.svg);
   position: absolute;
   width: 14px;
   height: 14px;
   top: 6px;
   right: 0.5px;
   background-repeat: no-repeat;
}
