@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic-ext');

.content_wrapper {
   max-width: 1420px;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
}

body {
   min-width: 1420px;
   font-family: 'Roboto';
   font-style: normal;

   background: #e5e5e5;
}

a,
a:hover,
a:visited,
a:active {
   text-decoration: none;
}

.main_container {
   min-height: calc(100vh - 677px);
}

.logo {
   font-weight: 900;
   font-size: 36px;
   line-height: 42px;

   margin-top: auto;
   margin-bottom: auto;

   color: #e5e5e5;
}
